$screenratio:1vw;
*{
  padding:0;
  margin:0;


}

   .Headbar{
    display: flex;
    flex-direction: column;
  }
.header{
    width: 100%;
    box-shadow: 0px 3px 5px rgb(202, 189, 189);
    background-color: white;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 10;
  
    .head_img{
      height: calc(($screenratio)*4);
      width: calc(($screenratio)*10);
      margin-left: calc(($screenratio)*38);;
  }

    .Side2{
      width: calc(($screenratio)*12);
      height: calc(($screenratio)*4);
      font-size: calc(($screenratio)*1.5);
      background-color: grey;
      box-shadow: 0px 3px 5px rgb(202, 189, 189);
      border: 0px;
      
    }
    
  .Side3{
    
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    
    
  }
  .Side4{
    background-color: gray;
    width: calc(($screenratio)*12);
    height: 100%;
    margin-top: calc(($screenratio)*4);
    position: fixed;
    font-size: calc(($screenratio)*1.5);
   
  }
  }
  
  
  
  // .Sidebar{
  //   /* background-color:white; */
  //   /* height: 800px; */
  //   display: flex;
  // flex-direction: row;
    
  //   position: fixed;
    
  //}
  .fix{
    display: flex;
    flex-direction: column;
  }
  .fix1{
    display: flex;
    flex-direction: row;
  }
  
  
 