:root {
  --screen-ratio: 1vw;

  * {
    font-family: var(--font-montserrat);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.Headbar {
  display: flex;
  flex-direction: column;
}

.fix {
  display: flex;
  flex-direction: column;
}
.fix1 {
  display: flex;
  flex-direction: row;
}
